@charset "UTF-8";
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
sass/
|
|– base/
|   |– _normalize.scss       # Reset/normalize
|
|– components/
|   |– _buttons.scss     	# Buttons
|   |– _carousel.scss    	# Carousel
|   |– _cover.scss       	# Cover
|   |– _dropdown.scss    	# Dropdown
|   |– _navigation.scss  	# Navigation
|	|- _sidebar.scss		# Sidebar
|
|– helpers/
|   |– _variables.s```   	# Sass Variables
|   |– _functions.scss   	# Sass Functions
|   |– _mixins.scss      	# Sass Mixins
|   |– _helpers.scss     	# Class & placeholders helpers
|	|- _include-media.scss	# include media Framework
|
|– layout/
|   |– _grid.scss        	# Grid system
|   |– _header.scss      	# Header
|   |– _footer.scss      	# Footer
|   |– _forms.scss       	# Forms
|
|– pages/
|   |– _front-page.scss	 # Front-Page specific styles
|
|– themes/
|   |– _theme.scss       # Default theme
|   |– _admin.scss       # Admin theme
|
|– vendors/
|
|
`– main.scss             # primary Sass file
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# base
--------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*--------------------------------------------------------------
# helpers
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# themes
--------------------------------------------------------------*/
html {
  font-family: 'Open Sans',sans-serif; }

strong {
  font-weight: 800; }

em {
  font-style: oblique; }

a {
  text-decoration: none;
  color: black; }

h1 {
  font-size: 60px;
  font-family: 'PlayFair Display', serif; }

h2 {
  font-size: 30px;
  font-family: 'PlayFair Display', serif;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 2px solid #61A3B7; }

h3 {
  padding: 10px 0;
  font-size: 25px;
  font-weight: 100;
  font-family: 'PlayFair Display', serif; }

h4 {
  font-size: 16px; }

div .content-area p {
  line-height: 2.0;
  margin-top: 20px;
  font-family: "Open Sans", sans-serif; }

div .content-area pre {
  line-height: 2.0;
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif; }

div .content-area a {
  color: #27b6df; }

div .sidebar li > a {
  color: black; }

.border-top {
  border-top: 10px solid #61A3B7; }

.wp-caption-text {
  font-style: italic;
  padding: 10px; }

.alignleft {
  float: left;
  margin-right: 25px; }
  .alignleft .wp-caption-text {
    text-align: left; }

.alignright {
  float: right;
  margin-left: 25px; }
  .alignright .wp-caption-text {
    text-align: right; }

.aligncenter {
  display: block;
  margin: auto; }
  .aligncenter .wp-caption-text {
    text-align: center; }

.entry-title {
  font-size: 35px;
  text-align: center;
  margin-bottom: 15px; }

.content-area {
  padding: 30px 30px 0 30px; }
  .content-area p {
    line-height: 2; }
  .content-area ul {
    padding: 5px 25px;
    list-style: circle; }
    .content-area ul li {
      font-size: 0.9em;
      letter-spacing: 1.2;
      line-height: 2; }

* {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease; }

@media (min-width: 720px) {
  h2 {
    font-size: 40px;
    text-align: left; }
  h3 {
    font-size: 40px; }
  .site-main {
    flex: 5;
    padding: 0 45px 0 20px; }
  .content-area {
    display: flex;
    padding: 30px 60px 0px 60px; }
  .entry-title {
    font-size: 50px;
    text-align: left;
    padding: 15px 0;
    margin: 0 0 20px 0; } }

/*--------------------------------------------------------------
# components
--------------------------------------------------------------*/
button {
  background-color: #FFF;
  border: none; }

.logo img {
  width: 250px;
  height: auto; }

.menu-toggle {
  display: inline-block;
  height: 30px;
  width: 30px;
  float: right;
  margin-top: -5px;
  background-size: cover; }

.toggled {
  display: block !important; }

.menu {
  display: none;
  list-style: none;
  padding: 0;
  margin-top: 10px; }
  .menu li {
    display: block;
    width: 25%;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    font-family: Lato; }
    .menu li a {
      text-decoration: none; }
  .menu li a:hover, .menu li .flex-container .flex-item a:active, .flex-container .flex-item .menu li a:active {
    text-decoration: underline; }

.aquifer-header .main-navigation .menu-toggle {
  margin-top: 10px; }

@media (max-width: 1199px) and (min-width: 720px) {
  .logo img {
    width: 400px; }
  .menu-toggle {
    margin-top: 0; }
  .aquifer-header .main-navigation .menu-toggle {
    margin-top: 20px; } }

@media (min-width: 1200px) {
  .aquifer-header {
    padding: 10px; }
    .aquifer-header .menu {
      margin: 40px 0 !important; }
  #site-navigation {
    display: flex; }
    #site-navigation .logo {
      flex: 1;
      text-align: center; }
      #site-navigation .logo img {
        width: 550px;
        height: auto; }
    #site-navigation div {
      flex: 1; }
      #site-navigation div .menu {
        display: block;
        text-align: center;
        margin: 10px 0; }
        #site-navigation div .menu li {
          display: inline-block;
          width: auto;
          margin: 0 7px; }
  .menu-toggle {
    display: none; } }

/*--------------------------------------------------------------
# layout
--------------------------------------------------------------*/
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%; }

.site {
  max-width: 1300px; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.justify {
  text-align: justify; }

.hidden-sm {
  display: none; }

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.row {
  position: relative;
  width: 100%; }

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem; }

.row::after {
  content: "";
  display: table;
  clear: both; }

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%; }

.col-1-sm {
  width: 4.33333%; }

.col-2-sm {
  width: 12.66667%; }

.col-3-sm {
  width: 21%; }

.col-4-sm {
  width: 29.33333%; }

.col-5-sm {
  width: 37.66667%; }

.col-6-sm {
  width: 46%; }

.col-7-sm {
  width: 54.33333%; }

.col-8-sm {
  width: 62.66667%; }

.col-9-sm {
  width: 71%; }

.col-10-sm {
  width: 79.33333%; }

.col-11-sm {
  width: 87.66667%; }

.col-12-sm {
  width: 96%; }

@media only screen and (min-width: 52em) {
  .col-1 {
    width: 4.33333%; }
  .col-2 {
    width: 12.66667%; }
  .col-3 {
    width: 21%; }
  .col-4 {
    width: 29.33333%; }
  .col-5 {
    width: 37.66667%; }
  .col-6 {
    width: 46%; }
  .col-7 {
    width: 54.33333%; }
  .col-8 {
    width: 62.66667%; }
  .col-9 {
    width: 71%; }
  .col-10 {
    width: 79.33333%; }
  .col-11 {
    width: 87.66667%; }
  .col-12 {
    width: 96%; }
  .hidden-sm {
    display: block; } }

header {
  padding: 20px; }
  header .hero-slider {
    margin: 0 0 10px -6% !important;
    position: relative;
    width: 111.6% !important;
    z-index: 0; }

footer {
  text-align: center;
  padding: 20px 40px;
  font-size: 14px;
  font-weight: 300; }
  footer div {
    text-align: center; }
    footer div .menu {
      display: inline-block;
      margin-bottom: 30px; }
      footer div .menu li {
        font-size: 14px;
        width: auto;
        display: inline-block;
        padding: 10px; }

.feed-link {
  margin: 0px 0px 10px 0px; }

.thanks {
  background-color: black;
  text-align: center;
  position: relative;
  padding: 10px; }
  .thanks img {
    position: absolute;
    height: 50%;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: .2; }
  .thanks h3 {
    font-size: 20px;
    color: white;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif; }
  .thanks p {
    display: inline-block;
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    color: white;
    font-size: 14px;
    font-style: italic;
    line-height: 1.5;
    text-align: center; }

@media (min-width: 540px) {
  footer {
    padding: 50px; }
  .thanks {
    padding: 75px 100px; }
    .thanks img {
      height: 100%; }
    .thanks h3 {
      font-size: 32px; }
    .thanks p {
      font-size: 20px;
      text-align: left; } }

.sidebar {
  display: none; }

.feed-link {
  margin-top: 10px; }

@media (min-width: 1200px) {
  .sidebar {
    flex: 1;
    display: inline-block;
    padding: 20px;
    border-left: 2px solid #C4C4C4; }
    .sidebar h2 {
      font-family: 'PlayFair Display', serif;
      font-size: 30px !important;
      border: none !important;
      padding-bottom: 0; }
    .sidebar ul {
      padding: 20px 0;
      list-style-type: none; }
      .sidebar ul li {
        padding: 5px 0;
        border-top: 1px solid #C4C4C4; }
    .sidebar > a {
      font-style: italic;
      color: #61A3B7; } }

/*--------------------------------------------------------------
# pages
--------------------------------------------------------------*/
.hero-background {
  width: 100%;
  background-image: none;
  height: auto; }

.hero-container {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px 20px; }

.feature-issue-image {
  display: inline-block;
  width: 100%; }
  .feature-issue-image div {
    margin: auto;
    width: 250px;
    height: 350px;
    background-color: white;
    background-size: cover;
    background-position: right; }

.feature-issue-content {
  color: white;
  font-size: 20px;
  line-height: 1.5;
  display: inline-block;
  width: 100%; }
  .feature-issue-content .feature-header {
    display: block;
    text-align: center; }
  .feature-issue-content img {
    display: none; }
  .feature-issue-content p {
    display: none; }

.read-more {
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px 30px; }

div .read-more-body {
  float: right;
  align-self: flex-end; }

.aquifer-banner {
  padding: 20px;
  text-align: center; }
  .aquifer-banner img {
    width: 300px; }

.article-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: column;
  flex-direction: column; }

.article-display {
  display: block;
  padding: 0 20px;
  flex: 5; }
  .article-display .article-container {
    margin: 20px 0;
    /*display: block;*/
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center; }
    .article-display .article-container > a {
      width: 100%;
      display: inline-block;
      margin: 10px 0;
      color: inherit; }
      .article-display .article-container > a .article {
        width: 100%;
        max-width: 225px;
        min-height: 250px;
        display: inline-block;
        text-align: center; }
        .article-display .article-container > a .article div {
          margin: auto;
          width: 225px;
          height: 150px;
          background-size: cover;
          background-position: center; }
        .article-display .article-container > a .article h4 {
          color: black;
          font-weight: bold;
          margin: 15px 0px 5px 0px; }
        .article-display .article-container > a .article h5 {
          color: black;
          font-size: 14px;
          font-weight: 300; }
        .article-display .article-container > a .article h6 {
          color: black;
          font-size: 14px;
          margin: 10px 0;
          font-weight: 100; }
        .article-display .article-container > a .article p {
          line-height: 1.25;
          font-size: 12px;
          margin: 10px 0px 2px 0px;
          font-weight: 100; }

@media (min-width: 720px) {
  .article-display .article-container {
    display: inline-block; }
    .article-display .article-container > a {
      width: auto;
      margin-right: 30px;
      display: inline-block; }
      .article-display .article-container > a .article {
        display: inline-block;
        width: auto; }
  .hero-background {
    height: 75vh;
    background-size: cover; }
  .hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px; }
    .hero-container div {
      margin: 0 10px; }
  .feature-issue-image {
    flex: 1;
    display: flex;
    justify-content: flex-end; }
  .feature-issue-content {
    flex: 2;
    padding: 0 60px;
    height: 350px; }
    .feature-issue-content .feature-header {
      width: auto;
      display: inline-block; }
    .feature-issue-content img {
      display: inline-block;
      margin-top: 20px;
      width: 150px; }
    .feature-issue-content p {
      text-align: left;
      display: block;
      margin: 30px 0;
      max-width: 700px;
      font-weight: 300; }
  .aquifer-banner img {
    width: 600px; } }

@media (min-width: 1200px) {
  .aquifer-banner {
    padding: 0; }
    .aquifer-banner img {
      width: 1000px;
      content: url("./public/images/banner.png"); } }

div #primary pre {
  font-family: 'Open Sans', sans-serif;
  line-height: 2;
  margin-top: 20px; }

.site-main > p {
  font-size: 14px; }

.article-banner {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  margin: 0 0 30px 0; }

.author {
  width: 100%;
  margin: 20px 0 0 0;
  padding-top: 20px;
  border-top: 1px solid black; }
  .author .author-image div {
    margin: auto;
    height: 300px;
    width: 225px;
    background-size: cover;
    background-position: center; }
  .author .author-info {
    text-align: center; }
    .author .author-info h3 {
      font-size: 32px;
      font-weight: 700;
      padding: 5px 0;
      margin-top: 10px; }
    .author .author-info > a {
      display: inline-block;
      font-size: 16px;
      padding: 10px; }
    .author .author-info p {
      font-size: 14px;
      line-height: 1.5;
      opacity: .7; }

@media (min-width: 720px) {
  .site-main > p {
    font-size: 16px; }
  .author {
    display: flex;
    width: 100%;
    margin: 40px 0 0 0;
    padding: 40px 0 0 0;
    border-top: 1px solid black; }
    .author .author-image {
      flex: 1; }
      .author .author-image div {
        height: 300px;
        width: 225px; }
    .author .author-info {
      flex: 3;
      padding: 0 30px;
      text-align: left; }
      .author .author-info h3 {
        font-size: 32px;
        font-weight: 700; }
      .author .author-info > a {
        padding: 10px 0;
        display: inline-block;
        font-size: 16px; }
      .author .author-info p {
        font-size: 16px;
        line-height: 1.5;
        opacity: .7; } }

.issue-display {
  display: block; }

.issue-container {
  padding: 15px 0;
  cursor: pointer; }
  .issue-container .issue-image {
    width: 175px;
    height: 250px;
    margin: auto;
    margin-bottom: 10px;
    background-size: cover;
    background-position: right;
    box-shadow: 2px 2px 5px #888888; }
    .issue-container .issue-image:hover, .issue-container .flex-container .flex-item .issue-image:active, .flex-container .flex-item .issue-container .issue-image:active {
      box-shadow: 5px 5px 5px #888888; }
  .issue-container .issue-info {
    text-align: center; }

@media (min-width: 720px) {
  .issue-display {
    display: flex; }
  .issue-container {
    flex: 1; } }

.article-row {
  padding: 20px 0;
  border-bottom: 1px solid #C4C4C4; }
  .article-row .article-thumb {
    display: inline-block;
    height: 75px;
    width: 75px;
    background-size: cover; }
  .article-row .article-text {
    padding: 0 0 0 10px;
    display: inline-block;
    vertical-align: top;
    width: 70%; }
    .article-row .article-text h4 {
      /* font-family: 'PlayFair Display', sans-serif; */
      font-weight: 700;
      font-size: 16px; }
    .article-row .article-text p {
      margin-top: 5px;
      line-height: 1;
      font-size: 14px; }

.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }
  .flex-container .flex-item {
    margin: 5px;
    padding: 0px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid black;
    /*background: white;
		color: black; */
    -webkit-transition: initial;
    -moz-transition: initial;
    -ms-transition: initial;
    -o-transition: initial; }
    .flex-container .flex-item p {
      margin: 0px;
      padding: 0px 5px;
      font-size: 14px;
      font-weight: 700; }
    .flex-container .flex-item :hover, .flex-container .flex-item :active {
      background: black;
      color: white;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      border-radius: 7px; }

div .article-row a, div .flex-item a {
  color: inherit; }
