@charset "UTF-8";
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
sass/ 
| 
|– base/ 
|   |– _normalize.scss       # Reset/normalize 
| 
|– components/ 
|   |– _buttons.scss     # Buttons 
|   |– _carousel.scss    # Carousel 
|   |– _cover.scss       # Cover 
|   |– _dropdown.scss    # Dropdown 
|   |– _navigation.scss  # Navigation 
| 
|– helpers/ 
|   |– _variables.scss   # Sass Variables 
|   |– _functions.scss   # Sass Functions 
|   |– _mixins.scss      # Sass Mixins 
|   |– _helpers.scss     # Class & placeholders helpers 
| 
|– layout/ 
|   |– _grid.scss        # Grid system 
|   |– _header.scss      # Header 
|   |– _footer.scss      # Footer 
|   |– _sidebar.scss     # Sidebar 
|   |– _forms.scss       # Forms 
| 
|– pages/ 
|   |– _front-page.scss	 # Front-Page specific styles
| 
|– themes/ 
|   |– _theme.scss       # Default theme 
|   |– _admin.scss       # Admin theme 
| 
|– vendors/
| 
| 
`– main.scss             # primary Sass file
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# base
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*--------------------------------------------------------------
# helpers
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# components
--------------------------------------------------------------*/
button {
  background: none;
  border: 1px solid #ddd; }

button:hover {
  background: #ddd; }

.menu-toggle {
  color: #000;
  border: none;
  text-transform: uppercase;
  margin: 0 auto; }

.menu-toggle:hover {
  background: none; }

.menu-toggle:focus + div #primary-menu {
  display: block; }

#site-navigation {
  flex: 1; }

.menu-toggle {
  display: block; }

.menu {
  display: none;
  list-style: none;
  padding: 25px 0;
  margin: 0; }
  .menu li a {
    display: block;
    width: 25%;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 300; }
  .menu li a:hover {
    text-decoration: underline; }

.menu:hover {
  display: block; }

@media only screen and (min-width: 52em) {
  .menu-toggle {
    display: none; }
  .menu {
    display: block;
    text-align: left;
    padding: 10px 25px; }
    .menu li {
      display: inline;
      padding: 0 15px; }
      .menu li a {
        display: inline;
        text-align: left; } }

/*--------------------------------------------------------------
# layout
--------------------------------------------------------------*/
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.justify {
  text-align: justify; }

.hidden-sm {
  display: none; }

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (min-width: 33.75em) {
    .container {
      width: 90%; } }
  @media only screen and (min-width: 60em) {
    .container {
      width: 100%;
      max-width: 1280px; } }

.row {
  position: relative;
  width: 100%; }

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem; }

.row::after {
  content: "";
  display: table;
  clear: both; }

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%; }

.col-1-sm {
  width: 4.33333%; }

.col-2-sm {
  width: 12.66667%; }

.col-3-sm {
  width: 21%; }

.col-4-sm {
  width: 29.33333%; }

.col-5-sm {
  width: 37.66667%; }

.col-6-sm {
  width: 46%; }

.col-7-sm {
  width: 54.33333%; }

.col-8-sm {
  width: 62.66667%; }

.col-9-sm {
  width: 71%; }

.col-10-sm {
  width: 79.33333%; }

.col-11-sm {
  width: 87.66667%; }

.col-12-sm {
  width: 96%; }

@media only screen and (min-width: 52em) {
  .col-1 {
    width: 4.33333%; }
  .col-2 {
    width: 12.66667%; }
  .col-3 {
    width: 21%; }
  .col-4 {
    width: 29.33333%; }
  .col-5 {
    width: 37.66667%; }
  .col-6 {
    width: 46%; }
  .col-7 {
    width: 54.33333%; }
  .col-8 {
    width: 62.66667%; }
  .col-9 {
    width: 71%; }
  .col-10 {
    width: 79.33333%; }
  .col-11 {
    width: 87.66667%; }
  .col-12 {
    width: 96%; }
  .hidden-sm {
    display: block; } }

header {
  width: 100%;
  padding: 20px;
  display: flex; }
  header .hero-slider {
    margin: 0 0 10px -6% !important;
    position: relative;
    width: 111.6% !important;
    z-index: 0; }
  header .site-logo {
    flex: 1;
    height: 45px; }
  @media only screen and (min-width: 52em) {
    header .hero-slider {
      margin: 0 0 10px 0 !important;
      width: 100% !important; } }

footer {
  text-align: left;
  padding: 25px 0; }
  footer p {
    font-size: 14px;
    color: #999; }

/*--------------------------------------------------------------
# pages
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# themes
--------------------------------------------------------------*/
.edit-link {
  display: none; }

* {
  font-family: "Proza Libre", Helvetica, sans-serif;
  color: #333447;
  line-height: 1.5; }

#site-navigation {
  background-color: #fff;
  display: flex;
  font-size: 12px; }
  #site-navigation .menu li a {
    color: #000; }

@media only screen and (min-width: 52em) {
  .side-borders {
    box-sizing: border-box;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 0 20px; } }

h1,
h2,
h3,
h4 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.375rem; }

h4 {
  font-size: 1.125rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: 0.875rem; }

p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.8;
  letter-spacing: -0.2px; }

.font-light {
  font-weight: 300; }

.font-regular {
  font-weight: 400; }

.font-heavy {
  font-weight: 700; }

/*--------------------------------------------------------------
# vendors
--------------------------------------------------------------*/
