@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,600,600i');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');

html {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #61A3B7;
}

h3 {
    padding: 10px 0;
	font-size: 25px;
	font-weight: 100;
}

h4 {
    font-size: 16px;
}

p {
    font-family: 'Open Sans', sans-serif;
    line-height: 2;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: #27b6df;
}

pre {
    font-family: 'Open Sans', sans-serif;
    line-height: 2;
}
