.hero-background {
	width: 100%;
	background-image: none;
	height: auto;
}

.hero-container {
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	padding: 40px 20px;
}

.feature-issue-image {
	display: inline-block;
	width: 100%;
	div {
		margin: auto;
		width: 250px;
		height: 350px;
		background-color: white;
		background-size: cover;
		background-position: right;
	}
}


.feature-issue-content {
	color: white;
	font-size: 20px;
	line-height: 1.5;
	display: inline-block;
	width: 100%;

	.feature-header {
		display: block;
		text-align: center;

		h3, h5 {
			color: white;
		}
	}

	img {
		display: none;
	}
	p {
		color: white;
		display: none;
	}

}

.read-more {
	color: white;
	border: 2px solid white;
	border-radius: 5px;
	padding: 10px 30px;
}

div .read-more-body {
	float: right;
	align-self: flex-end;
}

.aquifer-banner {
	//width: 100%;
	padding: 20px;
	text-align: center;

	img {
		width: 300px;
		//width: 100%;
	}

}

.article-wrapper {
	@include flexbox;
	@include flex-direction(column);
}

.article-display {
	display: block;
	padding: 0 20px;
	flex: 5;

	.article-container {
		margin: 20px 0;
		/*display: block;*/
		@include flexbox;
		-webkit-align-content: 	flex-start;
		align-content: 			flex-start;
		-webkit-justify-content: 	flex-start;
		-moz-justify-content: 		flex-start;
		justify-content: 			flex-start;

		>a {
			width: 100%;
			display: inline-block;
			margin: 10px 10px;
			color: inherit;

			.article {
				width: 100%;
				max-width: 225px;
				display: inline-block;
				text-align: center;
				div {
					margin: auto;
					width: 225px;
					height: 150px;
					background-size: cover;
					background-position: center;
				}
				h4 {
					color: black;
					font-weight: bold;
					margin: 15px 0px 5px 0px;
				}

				h5 {
					color: black;
					font-size: 14px;
					font-weight: 300;
				}

				h6  {
					color: black;
					font-size: 14px;
					margin: 10px 0;
					font-weight: 100;
				}

				p {
					line-height: 1.25;
					font-size: 12px;
					margin: 10px 0px 2px 0px;
					font-weight: 100;
				}
			}
		}
	}
}

@include media(">=tablet") {
	.article-display {

		.article-container {
			@include flexbox;
			-webkit-align-content: 	flex-start;
			align-content: 			flex-start;
			-webkit-justify-content: 	flex-start;
			-moz-justify-content: 		flex-start;
			justify-content: 			flex-start;

			>a {
				width: auto;
				margin-right: 10px;
				display: inline-block;

				.article {
					display: inline-block;
					width: auto;
				}
			}
		}
	}

	.hero-background {
		height: 75vh;
		background-size: cover;
	}

	.hero-container {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0px;

		div {
			margin: 0 10px;
		}

	}

	.feature-issue-image {
		flex: 1;
		display: flex;
		justify-content: flex-end;
	}

	.feature-issue-content {
		flex: 2;
		padding: 0 60px;
		height: 350px;

		.feature-header {
			width: auto;
			display: inline-block;
		}

		img {
			display: inline-block;
			margin-top: 20px;
			width: 150px;
		}

		p {
			text-align: left;
			display: block;
			margin: 30px 0;
			max-width: 700px;
			font-weight: 300;
		}
	}

	.aquifer-banner {
		img {
			width: 600px;
		}
	}
}

@include media(">=desktop") {
	.aquifer-banner {
		padding: 0;

		img {
			width: 1000px;
			content: url("./public/images/banner.png");
		}
	}
}
