.hero-background {
	width: 100%;
	background-image: none;
	height: auto;
}

.hero-container {
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	padding: 20px;
}

.feature-issue-image {
	display: inline-block;
	width: 100%;
	div {
		margin: auto;
		width: 250px;
		height: 350px;
		background-color: white;
		background-size: cover;
		background-position: right;
	}
}


.feature-issue-content {
	color: white;
	font-size: 20px;
	line-height: 1.5;
	display: inline-block;

	.feature-header {
		display: block;
		width: 100%;
		text-align: center;
	}

	img {
		display: none;
	}
	p {
		display: none;
	}

}

.read-more {
	color: white;
	border: 2px solid white;
	border-radius: 5px;
	padding: 10px 30px;
}

.banner {
	width: 100%;
	text-align: center;

	img {
		height: 125px;
	}

}

.article-display {
	display: block;
	padding: 0 20px;
	flex: 5;
	
	.article-container {
		margin: 20px 0;
		//min-width: 800px;

		.article {
			margin-right: 30px;
			display: inline-block;
			div {
				width: 225px;
				height: 150px;
				background-size: cover;
				background-position: center;
			}
			h4 {
				margin: 15px 0;
			}

			h5 {
				font-size: 14px;
				font-weight: 300;
			}

			h6  {
				font-size: 14px;
				margin: 10px 0;
				font-weight: 100;
			}

		}

	}
}

@include media(">=tablet") {
	.hero-background {
		height: 75vh;
		background-size: cover;
		background-image: url("./public/images/banner.png");
	}

	.hero-container {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0px;

		div {
			margin: 0 10px;
		}

	}

	.feature-issue-image {
		flex: 1;
		display: flex;
		justify-content: flex-end;
	}

	.feature-issue-content {
		flex: 2;
		padding: 0 60px;
		height: 350px;

		.feature-header {
			width: auto;
		}

		img {
			display: inline-block;
			margin-top: 20px;
			width: 150px;
		}

		p {
			text-align: left;
			display: block;
			margin: 30px 0;
			max-width: 700px;
			font-weight: 300;
		}
	}
}