footer {
	text-align: center;
	padding: 50px;
	font-size: 14px;
	font-weight: 300;

	div {
		text-align: center;
		.menu {
			display: inline-block;
			margin-bottom: 30px;
			li {
				font-size: 14px;
				width: auto;
				display: inline-block;
				padding: 10px;
			}
		}
	}
}