footer {
	text-align: center;
	padding: 50px;
	font-size: 14px;
	font-weight: 300;

	div {
		text-align: center;
		.menu {
			display: inline-block;
			margin-bottom: 30px;
			li {
				font-size: 14px;
				width: auto;
				display: inline-block;
				padding: 10px;
			}
		}
	}
}

.thanks {
	background-color: black;
	text-align: center;
	position: relative;
	padding: 10px;
	img {
		position: absolute;
		height: 50%;
	    margin: auto;
	    top: 0; bottom: 0; right: 0; left: 0;
	    opacity: .2;
	}

	h3 {
		font-size: 20px;
		color: white;
		font-weight: 300;
		font-family: 'Open Sans', sans-serif;
	}

	p {
		display: inline-block;
		max-width: 1000px;
		margin: auto;
		padding: 10px;
		color: white;
		font-size: 14px;
		font-style: italic;
		line-height: 1.5;
		text-align: center;
	}
}

@include media(">=phone") {
	.thanks {
		padding: 75px 100px;

		img {
			height: 100%;
		}

		h3 {
			font-size: 32px;
		}

		p {
			font-size: 20px;
			text-align: left;
		}

	}
}