footer {
	text-align: center;
	padding: 50px;
	font-size: 14px;
	font-weight: 300;

	div {
		text-align: center;
		.menu {
			display: inline-block;
			margin-bottom: 30px;
			li {
				font-size: 14px;
				width: auto;
				display: inline-block;
				padding: 10px;
			}
		}
	}
}

.thanks {
	background-color: black;
	text-align: center;
	position: relative;
	padding: 75px 100px;
	img {
		position: absolute;
		height: 100%;
	    margin: auto;
	    top: 0; bottom: 0; right: 0; left: 0;
	    opacity: .2;
	}

	h2 {
		font-size: 32px;
		color: white;
		font-weight: 300;
	}

	p {
		padding: 10px 50px 50px 50px;
		color: white;
		font-size: 20px;
		font-style: italic;
		line-height: 1.5;
		text-align: left;
	}
}