// Header
header {

	padding: 20px;

	.hero-slider {
		// This is janky, probably a better way to do it
		// it being making the header image full width on smaller screens
		margin: 0 0 10px -6% !important;
		position: relative;
		width: 111.6% !important;
		z-index: 0;
	}

}