// Header
header {
	position: relative;
	top: 0;
	left: 0;

	.hero-slider {
		// This is janky, probably a better way to do it
		// it being making the header image full width on smaller screens
		margin: 0 0 10px -6% !important;
		position: relative;
		width: 111.6% !important;
		z-index: 0;
	}

	.site-logo {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		margin: 40px auto;
		z-index: 1;
		max-width: 200px;
	}

	// Larger screen display
	@media only screen and (min-width: $breakpoint-small) {
		.site-logo {
			position: absolute;
			top: 40px;
			left: 40px;
			margin: 0;
			max-width: 300px;
		}
	}
	@media only screen and (min-width: $breakpoint-med) {
		.hero-slider {
			// This is janky, probably a better way to do it
			margin: 0 0 10px 0 !important;
			width: 100% !important;
		}
	}
}
