.sidebar {
	flex: 1;
	display: inline-block;
	padding: 20px;
	border-left: 2px solid #C4C4C4;
	max-height: 400px;

	h2 {
		font-family: 'PlayFair Display', serif;
		font-size: 30px !important;
		border: none !important;
	}
	
}