.sidebar {
	flex: 1;
	display: inline-block;
	padding: 20px;
	border-left: 2px solid #C4C4C4;
	//max-height: 400px;

	h2 {
		font-family: 'PlayFair Display', serif;
		font-size: 30px !important;
		border: none !important;
		padding-bottom: 0;
	}

	ul {
		padding: 20px 0;
		list-style-type: none;

		li {
			padding: 5px 0;
			border-top: 1px solid #C4C4C4;
		}
	}

	>a {
		font-style: italic;
		color: #61A3B7;
	} 
	
}