// Buttons

button {
	background: none;
	border: 1px solid $white-grey;
}

button:hover {
	background: $white-grey;
}

// Menu toggle button
.menu-toggle {
	color: $black;
	border: none;
	text-transform: uppercase;
	margin: 0 auto;
}

.menu-toggle:hover {
	background: none;
}

// Wordpress menus suck
.menu-toggle:focus + div #primary-menu {
	display: block;
}
