// Navigation

// Mobile first
// Show menu toggle button on small screens

.logo {

	img {
		width: 250px;
		height: auto;
	}
}

.menu-toggle {
	display: inline-block;
	height: 30px;
	width: 30px;
	float: right;
	margin-top: -5px;
	background-size: cover;
}

.toggled {
	display: block !important;
}

// Don't display menu items on small screens
.menu {
	display: none;
	list-style: none;
	padding: 0;
	margin-top: 10px;

	li {
		display: block;
		width: 25%;
	    margin: 0 auto;
	    padding: 10px 0;
	    text-align: center;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 300;
		font-family: Lato;

		a {
			text-decoration: none;
		}
	}

	li a:hover {
		text-decoration: underline;
	}
}

.aquifer-header {
	.main-navigation {
		.menu-toggle {
			margin-top: 10px;
		}
	}
}

@include media("<desktop", ">=tablet"){
	.logo {

		img {
			width: 400px;
		}
	}

	.menu-toggle {
		margin-top: 0;
	}

	.aquifer-header {
		.main-navigation {
			.menu-toggle {
				margin-top: 20px;
			}
		}
	}
}

// Desktop navigation
@include media(">=desktop") {

	.aquifer-header {
		padding: 10px;

		.menu {
			margin: 40px 0 !important;
		}
	}

	#site-navigation, {

		display: flex;

		.logo {
			flex: 1;
			text-align: center;
			img {
				width: 550px;
				height: auto;
			}
		}


		div {
			flex: 1;

			.menu {
				display: block;
				text-align: center;
				margin: 10px 0;
				li {
					display: inline-block;
					width: auto;
					margin: 0 7px;

					ul li {
						margin: 5px;
						padding: 0px;
					}

					> a[href="#"] {
						cursor: default;

						&:hover {
							text-decoration: none;
						}
					}
				}
			}
		}

		.dropdown-menu {

			> li {

				> a {

					&:hover {
						background-color: inherit;
					}
				}
			}

			> .active {

				> a {
					background-color: inherit;
					color: inherit;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

	// Hide menu toggle button on bigger screens
	.menu-toggle {
		display: none;
	}

}
