// Navigation

// Mobile first
// Show menu toggle button on small screens

.logo {

	img {
		width: 250px;
		height: auto;
	}
}

.menu-toggle {
	display: inline-block;
	height: 30px;
	width: 30px;
	float: right;
	margin-top: -5px;
	background-size: cover;
}

.toggled {
	display: block !important;
}

// Don't display menu items on small screens
.menu {
	display: none;
	list-style: none;
	padding: 0;
	margin-top: 10px;

	li {
		display: block;
		width: 25%;
	    margin: 0 auto;
	    padding: 10px 0;
	    text-align: center;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 300;
		font-family: Lato;

		a {
			text-decoration: none;
		}
	}

	li a:hover {
		text-decoration: underline;
	}
}

.aquifer-header {
	.main-navigation {
		.menu-toggle {
			margin-top: 10px;
		}
	}
}

#site-navigation {

	.menu {

		li {

			ul li {
				margin: 5px;
				padding: 0px;
			}

			> a[href="#"] {
				cursor: default;

				&:hover, &:focus {
					color: inherit;
					text-decoration: none;
				}
			}
		}

		.dropdown-menu {

			> li {

				> a {

					&:hover {
						background-color: inherit;
						color: inherit;
					}
				}
			}

			> .active {

				> a {
					background-color: inherit;
					color: inherit;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}

#primary-menu {

	li {
		> a {

			&:hover {
				color: inherit;
			}
		}
	}
}

@include media("<desktop", ">=tablet"){
	.logo {

		img {
			width: 400px;
		}
	}

	.menu-toggle {
		margin-top: 0;
	}

	.aquifer-header {
		.main-navigation {
			.menu-toggle {
				margin-top: 20px;
			}
		}
	}
}

// Desktop navigation
@include media(">=desktop") {

	.aquifer-header {
		padding: 10px;

		.menu {
			margin: 40px 0 !important;
		}
	}

	#site-navigation, {

		display: flex;

		.logo {
			flex: 1;
			text-align: center;
			img {
				width: 550px;
				height: auto;
			}
		}


		div {
			flex: 1;

			.menu {
				display: block;
				text-align: center;
				margin: 10px 0;
				li {
					display: inline-block;
					width: auto;
					margin: 0 7px;
				}
			}
		}
	}

	.dropdown-menu {
		left: -100%;
	}

	// Hide menu toggle button on bigger screens
	.menu-toggle {
		display: none;
	}

}

@media (max-width: 1200px) {

	#primary-menu {

		li {

			margin: 0;
			width: 100%;
		}

		.dropdown-menu {
			position: relative;
			float: none;
			border-radius: 0;
			border: 1px solid rgb(225, 225, 225);
			box-shadow: 2px 2px 1px rgb(200, 200, 200) inset;
			margin: 5px 0px 0px 0px;
			background-color: rgb(240, 240, 240);


			li {
				padding: 5px !important;
				margin: 0 !important;

				&:first-child {
					margin-top: 5px !important;
				}

				&:last-child {
					margin-bottom: 5px !important;
				}

				a {

					&:active {
						text-decoration: underline;
					}
				}
			}
		}
	}
}

@media (max-width: 768px) {

	#primary-menu {

		.dropdown-menu {

			li {
				text-align: center;

				>a {
					padding: 0px;
					width: auto;
					text-align: center;
				}
			}
		}
	}
}
