// Navigation

// Mobile first
// Show menu toggle button on small screens
.menu-toggle {
	display: block;
}	

// Don't display menu items on small screens
.menu {
	display: none;
	list-style: none;

	li a {
		display: block;
		width: 25%;
	    margin: 0 auto;
	    padding: 10px 0;
	    text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		font-weight: 300;
	}

	li a:hover {
		text-decoration: underline;
	}
}

.menu:hover {
	display: block;
}

// Desktop navigation
@include media(">desktop") {

	#site-navigation {
		// Nav background
		background-color: $white;
		display: flex;

		.logo {

			display: inline-block;
			img {
				height: 45px;
			}
		}

		//Nav links
		div {

			display: flex;
			align-items: center;
			justify-content: center;
			flex: 1;

			.menu {
				li a {
					color: black;
					font-size: 14px;
					font-weight: 500;
				}
			}
		}
	}

	// Hide menu toggle button on bigger screens
	.menu-toggle {
		display: none;
	}

}
