// Universal theme options

* {
  font-family: $font-family;
  color: $dark-grey;
  line-height: $font-height;
}

// Navigation colors
	#site-navigation {
		// Nav background
		background-color: $primary-color;

		//Nav links
		.menu li a {
			color: $white;
		}
	}

