// Universal theme options

// To disable that stupid edit post link that comes by default
.edit-link {
    display: none;
}

* {
  font-family: $font-family;
  color: $dark-grey;
  line-height: $font-height;
}

// Navigation colors
#site-navigation {
	// Nav background
	background-color: $white;

  display: flex;

  font-size: 12px;

	//Nav links
	.menu li a {
		color: $black;
	}
}

// Side borders for the middle column on front page
.side-borders {

  @media only screen and (min-width: $breakpoint-med) {
    box-sizing: border-box;
    border-left: 1px solid $white-grey;
    border-right: 1px solid $white-grey;
    padding: 0 20px;
  }
}

// Typography
h1,
h2,
h3,
h4, {
  font-family: $font-family-alt;
  font-weight: $font-weight-heavy;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1rem;
  font-weight: $font-weight-light;
  line-height: 1.8;
  letter-spacing: -0.2px;
}

.font-light {
  font-weight: $font-weight-light;
}

.font-regular {
  font-weight: $font-weight-regular;
}

.font-heavy {
  font-weight: $font-weight-heavy;
}