// Universal theme options

// To disable that stupid edit post link that comes by default
html {
	font-family: 'Open Sans',sans-serif;
}

strong {
	font-weight: 800;
}

em {
	font-style: oblique;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 60px;
	font-family: 'PlayFair Display', serif;
}

h2 {
	font-size: 30px;
	font-family: 'PlayFair Display', serif;
	text-align: center;
	padding-bottom: 20px;
	border-bottom: 2px solid #61A3B7;
}

h3 {
	padding: 10px 0;
	font-size: 25px;
	font-weight: 100;
	font-family: 'PlayFair Display', serif;
}

h4 {
	font-size: 16px;
}

.border-top {
	border-top: 10px solid #61A3B7;
}

.wp-caption-text {
	font-style: italic;
	padding: 10px;
}

.alignleft {
	float: left;
	margin-right: 25px;

	.wp-caption-text {
		text-align: left;
	}
}

.alignright {
	float: right;
	margin-left: 25px;

	.wp-caption-text {
		text-align: right;
	}
}

.aligncenter {
	display: block;
	margin: auto;

	.wp-caption-text {
		text-align: center;
	}
}

.entry-title {
	font-size: 35px;
	text-align: center;
	margin-bottom: 15px;
}

.content-area {
	padding: 30px 30px 0 30px;

	p {
		line-height: 2;

		.content-area {
			line-height: 2.0;
			margin-top: 20px;
			font-family: 'Open Sans';
		}
	}

	ul {
		padding: 5px 25px;
		list-style: circle;

		li {
			font-size: 0.9em;
			letter-spacing: 1.2;
			line-height: 2;
		}
	}
}


@include media(">=tablet") {
	h2 {
		font-size: 40px;
		text-align: left;
	}

	h3 {
		font-size: 40px;
	}

	.site-main {
		flex: 5;
		padding: 0 45px 0 20px;
	}

	.content-area {
		display: flex;
		padding: 30px 60px 0px 60px;
	}

	.entry-title {
		font-size: 50px;
		text-align: left;
		padding: 15px 0;
		margin: 0 0 20px 0;
	}
}
