// Grid
$max-width: 1280px;
$width: 96%;
$gutter: 4%;
$breakpoint-small: 33.75em; // 540px
$breakpoint-med: 52em; // 820px
$breakpoint-large: 60em; // 960px

// Typography
$font-family: 'Lato', Helvetica, sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1.5;

// Colors
$dark-grey: #333447;
$dark-gray: #333447; // for the Americans
$light-grey: #999; // Fuck the Americans
$primary-color: #043B5A;
$black: #000;
$white: #fff;